.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(46,48,25,0.4);
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    margin: 0;
    height: auto;
}

#prenota{
    background-color: #DFDACB;
}

.home{
    background-image: url("Immagini/homepage1.jpeg");
    width: auto;
    background-size: cover;
}

.home_title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;
    color: #F5FEF5;
    letter-spacing:-0.02em;
}

.home_body{
    background-color: rgba(49,76,28,0.52);
    width: auto;
}

.home_text{
    margin-left: 10%;
    margin-top: 10%;
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-size: 2.5vw;
    color: #F5FEF5;
    text-align: left;
}

.button_descrizione{
    background-color: #F8B509;
    color: white;
    border-color: #F8B509;
}

.prenotation{
    background-color: #DFDACB;
    width: 100%;
}

.newcard{
    background-color: rgba(49,76,28,0.52);
    color: #FFFFFF;
    height: 100%;
}

.card-title{
    font-size: 3vw;
    font-weight: bold;
}

.card-text{
    font-size: 2vw;
    text-align: left;
}

h1{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #2E3019;
    font-size: 3vw;
}

.h1_news{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #F5FEF5;
    font-size: 4.4vw;
}

.banner_news{
    background-image: url("Immagini/news copia.png");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.news1_title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vw;
    text-align: left;
}

.news1_text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    text-align: left;
    color: #2E3019;
}

.news2_title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vw;
    text-align: right;
}

.news2_text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    text-align: right;
    color: #2E3019;
}

.rewards{
    justify-content: center;
    width: auto;
}


.button_prenota{
    background-color: #314C1C;
    color: white;
    border-color: #314C1C;
}

.link_header{
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F5FEF5;
    text-decoration-line: none;
}

.link_header:hover{
    color: #F5FEF5;
}

.active{
    font-weight: 600;
    letter-spacing: 0.03em;
}

.link{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: underline;
}

.news{
    background-color: #EDC660;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card_news{
    background-color: #EDC660;
    height: 100%;
}

.sezione2{
    background-color: #DFDACB;
    color: #2E3019;
}

.sezione3{
    background-color: #2E3019;
    color: #F5FEF5;
}

.bodynews_title{
    color: #2E3019;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 5vw;
}
.journ_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: #2E3019;
    font-size: 5vw;
}

.rewards_title2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: #F5FEF5;
    font-size: 5vw;
}

.rewards_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: #F5FEF5;
    font-size: 2.9vw;
    text-align: left;
}

/* HEADER */
.menu1{
    top: 0;
    left: 0;
    width: 100%;
    color: #000000;
    /*position: sticky;*/
    background-color: rgba(46,48,25,0.4);
    color: #FFFFFF;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    padding-left:1%;
    height: 70px;
}

.bar li {
    display: inline-block;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 2%;
}

.rigth{
    text-align: right;
    min-width: 75%;
    margin: 0%;
    width: auto;
}


.left{
    text-align: left;
    min-width: 25%;
    max-width: 25%;
}


* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: -0.02em;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
}

.h2_description{
    color: #391E0A;
    font-size: 40px;
    padding-right: 3%;
    padding-left: 3%;
}

.title_rec{
    font-weight: bold;
}
.generic_review1{
    align-items: center;
}

.card_review {
    background-color: rgb(248, 181, 9, 55%);
    border: #000000;
    box-sizing: content-box;
    padding: 5%;
    margin: 60px;
}

.stars{
    display: flex;
}

.stars.disabled{
    pointer-events: none;
}
.stars a {
    opacity: 50%;
    cursor: pointer;
    padding: 3px;
}

.stars:hover a {
    opacity: 100%;
}

.stars a:hover{
    opacity: 100%;
}

.stars a:hover ~ a {
    opacity: 50%;
}

.stars a.active {
    opacity: 100%;
}

.generic_review {
    width: 80%;
}

.stars{
    width: 15%;
}

.user_icon {
    width: 15%;
    float: left;
    padding-right: 2%;
}

.user_name{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 0.03em;
    text-align: start;
    color: #2E3019;
}

.date1 {
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 1vw;
    letter-spacing: -0.02em;
    text-align: start;
    color: #2E3019;
}

.h3_review{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: -0.02em;
    color: #2E3019;
}

.review{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    letter-spacing: -0.02em;
    color: #2E3019;
    font-weight: 300;
    text-align: left;
}

.img_recensione {
    padding: 70px;
    padding-top: 40px;

}

.rec_form{
    height: 100%;
}

.img_rec {
    width: 427px;
    height: 500px;
    padding-top: 30px;
    padding: inherit;
}

.scrivere_recensione {
    padding:10px;
    border-radius:10px;
    width: 600px;
  }

.new_review {
    background-color: #F8B509;
    color: white;
    border-radius: 10px;
}


.footer {
    background-color: rgb(245, 254, 245, 56%);
    width: 100%;
    
}

.iscriz_newsletter {
    background-color: #314C1C;
    color: white;
    border-radius: 10px;
}



.btn-round {
    border-radius: 30px;
}

.bg-indigo {
    background-image: url("Immagini/Foto_servizi.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.unotext {
    color:#F5FEF5;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.bg-white{
    background-image: url("Immagini/Foto_esperienza.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.duetext{
    color:#F5FEF5;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;}

.button_uno{
    color:#F5FEF5;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color:#F8B509;
}
.button_due{
    color:#F5FEF5;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color:#314C1C;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size:0.5em;
    font-weight: normal;
    color:#F5FEF5;
    text-align: center
}

.exp_title{
    font-weight: bold;
    font-size: 5vw;
}

.description{
    background-color: #dfdacb;
    width: 100%;
}

.banner{
    background-image: url("Immagini/home.jpg");
    width: 100%;
    background-size: cover;
}

.description_title{
    color: #F5FEF5;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 13%;
    padding-bottom: 13%;
}

.description_text{
    color: #391E0A;
    font-size: 2.1vw;
    text-align: left;
    font-weight: lighter;
}

.service_title{
    font-size: 4.5vw;
    font-weight: bold;
    color: #F5FEF5;
}

.service_text{
    font-size: 2vw;
    font-weight: bold;
    color: #F5FEF5;
}

.button_exp_2{
    background-color: #314C1C;
    color: #DFDACB;
    border-color: #314C1C;
}

.title_brown{
    color: #391E0A;
    font-weight: bold;
}

.card_background{
    background-color: #EDC660;
    color: #391E0A;
}

.soggiorno_text{
    color: #391E0A;
    font-size: 2vw;
    text-align: left;
    line-height: normal;
}

.soggiorno_img{
    width: 100%;
}

.button_prenota_form{
    background-color: #391E0A;
    color: #F5FEF5;
    border-color: #391E0A;
}

.button_prenota_home{
    background-color: #F8B509;
    color: #F5FEF5;
    border-color: #F8B509;
}

.button_prenota_div{
    text-align: right;
}


banner_rec{
    width:100%;
}

.title_pren{
    font-weight: bold;
    font-size: 3vw;
    color: #F5FEF5;
}

.text_pren{
    font-size: 3vw;
    color: #F5FEF5;
}

.map{
    background-image: url("Immagini/homepage1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.map3{
    background-image: url("Immagini/Prenota un'esperienza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.map4{
    background-color: rgba(49,76,28,0.52);
    color: #F5FEF5;
}

.map2{
    background-color: rgba(210,196,150,0.41);
}

.map_title{
    font-size: 3.6vw;
    color: #F5FEF5;
    font-weight: bold;
    text-align: left;
}

.map_title2{
    font-size: 2.6vw;
    color: #F5FEF5;
    font-weight: bold;
    text-align: left;
}

.map_text{
    font-size: 1.4vw;
    color: #F5FEF5;
    font-weight: bold;
    text-align: left;
}

.map_img{
    float: left;
    width: 3vw;
}

.google_map{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.google-map > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer{
    background-color: rgba(245,254,245,0.56);
    height: auto;
    padding-bottom: 3%;
}

.button_footer{
    background-color: #DFDACB;
    color: #314C1C;
    border-color: #314C1C;
    text-align: center;
    width: 100%;
    height: 3.5vw;
}

.button_footer2{
    background-color: #314C1C;
    color: #DFDACB;
    border-color: #314C1C;
    width: 100%;
    height: 3.5vw;
    text-align: center;
}

.footer_buttons{
    height: 3.5vw;
}

.footer_icons{
    height: 3.5vw;
}

.footer_icons_group{
    padding-top: 3.5%;
}

.footer_icons2{
    height: 3.3vw;
}

.card-back{
    background-color: rgba(49,76,28,0.52);
}

.button_footer_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #314C1C;
    text-align: center;
    font-size: 20px;
}

.button_footer_text2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #F5FEF5;
    text-align: center;
    font-size: 20px;
}

.prenotation_button{
    font-size: 20px;
    color: black;
}

/* Smartphone */
@media only screen and (max-width: 767px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .service_text{
       font-size: 18px;
    }

    .service_title{
        font-size: 24px;
    }

    .bar{
        height: auto;
        display: block;
    }

    .h2_description{
        font-size: 16px;
    }

    .description_text{
        font-size: 12px;
    }

    .footer_buttons{
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    .footer_icons{
        width: 24px;
        height: 24px;
    }

    .footer_icons2{
        width: 24px;
        height: 24px;
        padding-bottom: 2px;
        padding-top: 0px;
    }

    .button_footer{
        height: 12vw;
        margin-left: 5px;
    }

    .button_footer_text{
        font-size: 10px;
        padding-top: 5%;
    }

    .button_footer_text2{
        font-size: 10px;
    }

    .button_footer2{
        height: 12vw;
        margin-right: 5px;
    }

    .review{
        font-size: 12px;
    }

    .news1_text{
        font-size: 12px;
        text-align: center;
    }

    .news1_title{
        font-size: 20px;
        text-align: center;
    }

    .news2_text{
        font-size: 12px;
        text-align: center;
    }

    .news2_title{
        font-size: 20px;
        text-align: center;
    }

    .card-title{
        font-size: 18px;
        text-align: center;
    }

    .card-text{
        font-size: 12px;
        text-align: center;
    }

    .prenotation_button{
        font-size: 10px;
    }

    .map4{
        margin: 0;
    }
}

/*tablet*/
@media only screen and (max-width: 1024px) {
    .button_footer_text{
        font-size: 10px;
    }

    .button_footer_text2{
        font-size: 10px;
    }

}

/* Desktop */
@media only screen and (min-width: 1024px) {

    .footer_icons2{
        padding-top: 3px;
    }

}


